@import url("https://fonts.google.com/share?selection.family=Poppins:wght@100");

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Popins", sans-serif;
    scroll-behavior: smooth !important;
    /* outline: solid 1px #00ff15; */
}

::-webkit-scrollbar {
    background: rgb(25, 29, 32);
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(45, 52, 58);
    border-radius: 1rem;
}

#about,
#contacts,
#projects {
    padding: 2rem;
}

.container h1 {
    margin: 1.5rem 0;
    text-align: center;
}

body {
    background: rgb(25, 29, 32);
}

.sub-title {
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

.sub-title span {
    color: rgb(53, 136, 204);
}

/*!-------------HEADER-------------*/

#header {
    width: 100%;
    height: 100vh;
    background: url("../pictures/cat.webp") no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}

nav ul li {
    margin: 1rem;
    transition: 1s ease-in-out;
    display: inline-block;
    list-style: none;
    text-align: center;
}

nav ul li a {
    color: white;
    text-shadow: black 3px 3px 5px;
    text-transform: uppercase;
    text-decoration: none;
    font: 800;
    font-size: 2rem;
    font-weight: 800;
    padding: 0 .5rem;
    transition: 1s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

nav ul li a::before {
    background: rgb(53, 136, 204);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.header-text {
    position: absolute;
    bottom: 1rem;
    padding: 0 1rem;
}

.header-text h1 {
    margin: 1rem 0;
    font-size: 5rem;
    line-height: 1;
    font-weight: 900;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

.header-text p {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}

.header-text span {
    color: rgb(53, 136, 204);
}

.fa-bars {
    margin: 2rem;
}

/*!-------------ABOUT-------------*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-col1 {
    flex-basis: 35%;
    text-align: center;
}

.about-col1 h2 {
    font-size: 2rem;
    font-weight: 800;
    padding: .5rem 0;
    color: rgb(53, 136, 204);
    text-transform: uppercase;
}

.tech-icons {
    font-size: 3rem;
    margin: 0 1rem;
    transition: 1s ease-in-out;
}

.tech-stack .tech-icons:nth-child(n) > path {
    transition: 750ms ease-in-out;
}


.tech-stack .tech-icons:nth-child(1):hover > path {
    color: rgb(227,76,38);
}

.tech-stack .tech-icons:nth-child(2):hover > path {
    color: rgb(38,77,228);
}

.tech-stack .tech-icons:nth-child(2):hover > path {
    color: rgb(136,17,251);
}


.tech-stack .tech-icons:nth-child(4):hover > path {
    color: rgb(240,219,79);
}

.tech-stack .tech-icons:nth-child(5):hover > path {
    color: rgb(97,219,251);
}

.about-col1 img {
    max-width: 85%;
    padding: .5rem;
    border-radius: 2rem;
}

.about-col2 {
    width: 100%;
    flex-basis: 60%;
}

.about-text h2 {
    font-size: 3rem;
    margin: 2rem 0;
}

.about-text p {
    font-size: 1.75rem;
}

/*?-------------EDUCATION-EXPERIENCE-SKILLS-LINKS-------------*/

.title-cards {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.title-link {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 2rem;
    transition: 1s ease-in-out;
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

.title-link:hover,
.active-link:hover {
    transform: translateY(-5px);
    color: rgb(37, 157, 255);
}

.active-link {
    color: rgb(3, 119, 214);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 2rem;
    transition: 1s ease-in-out;
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

/*?-------------INFORMATION-------------*/

.active-content {
    height: 50vh;
    display: block;
    animation: fade-in 1s ease-in-out;
}

.active-content ul li {
    list-style: none;
    margin: 1.5rem 0;
    line-height: 2rem;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

.active-content ul li h4 {
    font-weight: 600;
    font-size: 1.75rem;
    color: rgb(53, 136, 204);
    text-transform: uppercase;
}

.active-content ul li p {
    font-size: 1.5rem;
    margin: .5rem 0;
}

@keyframes fade-in {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/*!-------------PROJECTS-------------*/

#projects h1 {
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.work {
    position: relative;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    margin: 2rem 0;
}

.work img {
    width: 100%;
    height: 50rem;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.work .layer {
    transition: 1s ease-in-out;
}

.layer {
    text-align: center;
    background: linear-gradient(transparent, rgb(53, 136, 204));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
}

.work:hover .layer {
    height: 100%;
}

.work:hover img {
    filter: blur(3px);
}

.layer h1 {
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
}

.layer p {
    margin: 2rem 0;
    font-size: 2rem;
    text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}

.layer a {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: white;
}

.layer a .icon {
    margin: 1rem;
    font-size: 2rem;
}

.layer a .icon > path{
    color: rgb(53, 136, 204);
}

/*!-------------CONTACTS-------------*/
.contacts-left {
    flex-basis: 45%;
    margin: 2rem;
}

.contacts-right {
    flex-basis: 50%;
}

.contacts-left p {
    font-size: 3rem;
    font-weight: 600;
}

.contacts-left p .icon {
    font-size: 2rem;
    margin: 0 1rem 0 0;
}

.contacts-left p .icon > path {
    color: rgb(53, 136, 204);
}

.social-icons {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.social-icons a {
    text-decoration: none;
    display: inline-block;
    margin: 1rem .75rem;
}

.social-icons a  {
    transition: 750ms ease-in-out;
}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons .icon > path {
    transition: 750ms ease-in-out;
}

.social-icons .icon:hover > path {
    color: rgb(53, 136, 204);
    transform: translateY(-5px);
}

/*?-------------SUBMIT-FORM-------------*/

.contacts-right form {
    width: 100%;
    margin-top: 2rem;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

form input,
form textarea {
    width: 80%;
    border: 0;
    outline: none;
    padding: 1rem;
    margin: 0 0 1.5rem 0;
    background: rgb(38, 47, 54);
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    resize: none;
}

button {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    padding: .5em;
    border-radius: 15px;
    border: 2px solid rgb(53, 136, 204);
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
    display: block;
    width: fit-content;
    text-transform: uppercase;
    transition: 750ms ease-in-out;
    background-color: transparent;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: rgb(53, 136, 204);
}

/*!-------------SMALL-SCREEN-------------*/

nav .icon {
    display: none;
}

@media (width <= 1500px) {
    #about,
    #projects,
    #contacts {
        text-align: center;
    }

    .about-text p {
        text-align: justify;
    }

    .about-col1,
    .about-col2,
    .contacts-left,
    .contacts-right {
        flex-basis: 100%;
        align-items: center;
    }

    button {
        margin: 1.5rem auto;
    }

    .title-link {
        font-size: 1.75rem;
    }
}

@media (width <= 660px) {
    .sub-title {
        font-size: 2.5rem;
    }

    /*!-------------HEADER-------------*/
    #blur-overlay {
        height: 662vh;
        width: 100%;
        backdrop-filter: blur(3px);
        position: absolute;
        display: none;
        z-index: 1;
    }

    nav {
        justify-content: right;
    }

    nav .icon {
        display: block;
        font-size: 1.5rem;
    }

    #header {
        background-image: url("../pictures/phone-background.webp");
    }

    .header-text {
        bottom: 1rem;
    }

    .header-text h1 {
        font-size: 3rem;
    }

    .header-text p {
        font-size: 1.25rem;
    }

    nav ul {
        background-color: rgb(44, 56, 65);
        position: fixed;
        top: 0;
        right: -13rem;
        overflow: hidden;
        width: 13rem;
        height: 100vh;
        padding-top: 3rem;
        z-index: 1;
    }

    nav ul li {
        display: block;
        margin: 1rem;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    nav ul .icon {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        cursor: pointer;
    }

    nav .icon {
        cursor: pointer;
    }

    .flex-layer h1 {
        font-size: 3.5rem;
    }

    #title-link1,
    #title-link2,
    #title-link3 {
        margin: .5rem 0;
    }

    .active-link {
        font-size: 2rem;
    }

    .title-link:hover,
    .active-link:hover {
        transform: translateY(0);
        transform: scale(1.05);
    }

    /*!-------------ABOUT-------------*/
    .about-col1 i {
        font-size: 2.5rem;
    }
    
    .about-text {
        margin: .5rem 0;
    }

    .about-text h2 {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 1.25rem;
    }

    .active-content ul li p {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .active-content ul li h4 {
        font-size: 1.5rem;
    }

    .title-cards {
        display: block;
        margin: 1.5rem 0;
    }

    .title-link {
        margin: .5rem 0 0 0;
    }

    /*!-------------PROJECTS-------------*/
    .layer h1 {
        font-size: 3rem;
    }
    
    .layer p {
        font-size: 1.5rem;
    }
    
    .layer a i {
        font-size: 2rem;
        color: rgb(53, 136, 204);
    }

    /*!-------------CONTACTS-------------*/

    #contacts {
        height: auto;
    }
    
    .contacts-left {
        margin: 0;
    }

    .contacts-left p {
        font-size: 1.75rem;
    }

    .contacts-left p .icon {
        font-size: 1.25rem;
    }

    .social-icons a .icon {
        font-size: 2rem;
    }

    .contacts-left button,
    .contacts-right button {
        font-size: 1.75rem;
    }
}

@media screen and (orientation: landscape) and (width <= 1000px) and (height <= 550px) {
    .header-text h1 {
        font-size: 3rem;
    }

    .header-text p {
        font-size: 1.5rem;
    }
}